/*--ver en body&footer resto del mapa--*/
@media only screen and (max-width: 340px) {
  h1 {
    font-weight: 800;
    font-size: calc(1em + 4vw)6em; }
  h2 {
    font-weight: 400;
    font-size: calc(1em + 4vw)-3em; }
  h3 {
    font-weight: 200;
    font-size: calc(1em + 4vw)-4em; }
  p {
    font-weight: 300;
    font-size: calc(1em + 4vw)-5em; } }

h1 {
  color: whitesmoke;
  font-size: calc(1em + 4vw);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  font-style: bold; }

h2 {
  color: whitesmoke;
  font-size: calc(1em + 3vw);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-weight: bold; }

h3 {
  color: whitesmoke;
  font-size: calc(1em + 4vw)-1;
  font-weight: 500;
  font-family: "Poppins", sans-serif; }

h4 {
  color: whitesmoke;
  font-size: 18px;
  font-family: "Poppins", sans-serif; }

h5 {
  color: whitesmoke;
  font-size: 16px;
  font-family: "Poppins", sans-serif; }

p {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins", sans-serif; }

/*----------------efectos--------------*/
.animate__slideInUp {
  animation-delay: 1s;
  animation-duration: 2s; }

.button {
  color: whitesmoke;
  text-shadow: 0px 0px 9px grey;
  background-color: #89C6FF;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  margin-bottom: 20px;
  align-self: center; }

.button:hover, a:active {
  color: #7078F1;
  background-color: #89C6FF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0px 6px lightgrey; }

/*---------------- Index --------------*/
nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #89C6FF; }

nav ul .dropdown-menu {
  background-color: #89C6FF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

nav ul li:hover .dropdown-menu {
  display: block;
  z-index: 1; }

nav a:link, nav a:visited {
  color: whitesmoke;
  padding: auto;
  text-align: left;
  text-decoration: none;
  display: block; }

nav ul a:hover {
  color: #7078F1;
  background-color: #89C6FF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

nav a:active {
  color: #7078F1;
  background-color: #89C6FF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

nav ul .dropdown-item:hover, nav :active {
  color: #89C6FF;
  background-color: #7078F1; }

.containerHero {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  padding-left: 1vw;
  margin-top: 10vh;
  justify-content: space-evenly; }

.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: whitesmoke;
  color: grey;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  animation-delay: 3s;
  animation-duration: 4s;
  animation-name: "aparecer"; }
  .article .article__exterior {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    align-content: center;
    align-self: center;
    padding: 15px;
    margin-top: 10px; }
  .article .article__Interno {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "poppins";
    font-size: medium;
    height: fit-content;
    align-items: center; }

#highlight1 {
  font-size: 40px;
  font-weight: bolder; }

#highlight2 {
  font-size: 40px;
  font-weight: bolder; }

#highlight3 {
  font-size: 40px;
  font-weight: bolder; }

.sectionC {
  display: flex;
  flex-flow: row wrap;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.153));
  margin-top: 6rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center; }
  .sectionC .bannerLeft {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px; }

/*---------------- Actividades --------------*/
.fotoGrid {
  grid-area: fotoGrid;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1em;
  margin-top: 1em; }
  .fotoGrid .foto--grid___img {
    width: 33%;
    max-height: 900px;
    min-width: 200px;
    object-fit: cover;
    position: relative;
    width: 50%;
    max-width: 300px; }
  .fotoGrid .imageGrid {
    display: block;
    width: 100%;
    height: auto; }
  .fotoGrid .overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 23, 23, 0) 15%, #1a1919 85%);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: center; }
  .fotoGrid .foto--grid___img:hover .overlay {
    opacity: 1; }

.stripe-BgColor {
  background-color: #7078F1;
  color: whitesmoke;
  padding-left: 5px; }

.stripe-BgColor {
  background-color: #7078F1;
  color: whitesmoke;
  padding-left: 5px; }

#sectionActividades {
  padding-top: 1em;
  padding-bottom: 1em; }
  #sectionActividades .ulActividades {
    list-style-type: none;
    padding-left: 5px; }
  #sectionActividades .nav-link {
    color: #7078F1;
    font-family: "Poppins", sans-serif;
    background-color: #242323;
    padding: 10px; }
  #sectionActividades .active {
    background-color: #89C6FF;
    color: #7078F1;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 20px;
    border: none; }

/*----------------------- Contacto -------------------*/
@media (max-width: 375px) {
  iframe {
    width: 200px;
    height: auto; }
  .find-widget {
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 20px; } }

.find-widget {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  padding-left: 3em;
  margin-top: 2em;
  justify-content: center; }

.section-title {
  float: right;
  padding-top: 10px; }

.contact-form {
  padding-top: 2em;
  align-items: right; }

/*----------------------- Registro -------------------*/
/*--------- Card ----------*/
.card {
  background: #FFFFFF;
  box-shadow: 0px 2.88889px 8.66667px rgba(0, 0, 0, 0.25);
  border-radius: 7.22223px;
  width: 23rem;
  height: fit-content; }
  .card .card-title {
    color: #7078F1;
    font-size: 30px;
    padding: 0.5em; }
  .card .text-center___text {
    color: grey;
    padding: 5px; }
  .card .textEnd {
    display: inline;
    color: grey;
    font-size: 14px; }
  .card .socialR {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    .card .socialR .btnLog {
      background-color: #f0efef;
      border: grey;
      justify-content: center;
      align-items: center;
      padding: 0px; }
    .card .socialR .btnLog:hover {
      box-shadow: 1px 3.01656px 7.5414px rgba(46, 46, 46, 0.406); }
  .card .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: grey; }
  .card .divider-text__span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2; }
  .card .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 0; }
  .card .form-control-text {
    margin: 0px; }
  .card .fa-user {
    padding: auto; }
  .card .form-group {
    height: 38px; }
  .card .input-group {
    height: 38px; }

/*----------------------- 404 -------------------*/
body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-image: url(../images/desktop3.png); }
  body #objeto3d:hover {
    transform: rotateY(150deg); }

.offcanvas {
  background-color: #7078F1;
  color: whitesmoke; }

@media only screen and (max-width: 380px) {
  .logo {
    width: 70px; } }

@media only screen and (min-width: 380px) and (max-width: 990px) {
  .logo {
    width: 80px; } }

@media only screen and (min-width: 990px) {
  .logo {
    width: 120px; } }

.logo {
  transition: scale(2, 2); }

.logo:hover {
  transform: scale(1.2, 1.2); }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Rounded sliders */ }
  .switch .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfcc02;
    -webkit-transition: .4s;
    transition: .4s; }
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .switch input:checked + .slider {
    background-color: #1c1b1b; }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #232526; }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .switch .slider.round {
    border-radius: 34px; }
  .switch .slider.round:before {
    border-radius: 50%; }

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  color: grey;
  background: lightgrey;
  padding: 15px;
  grid-area: footer; }
  footer .form {
    display: inline-flex; }

.icon-bar {
  display: inline;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: grey; }

:hover.btn--tw {
  color: #07bdde; }

:hover.btn--fb {
  color: #1f018f; }

:hover.btn--yt {
  color: #d30202; }

:hover.btn--ig {
  color: #bf0396; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
