
@media only screen and (max-width: 340px) {
    h1{
        font-weight: 800;
        font-size:($fontSizeBig + 6em);
    }
    h2{
        font-weight: 400;
        font-size: ($fontSizeBig - 3em);
    }
    h3{
        font-weight: 200;
        font-size: ($fontSizeBig - 4em);
    }
    p{
        font-weight: 300;
        font-size: ($fontSizeBig - 5em);
    }
}


h1{
    color:$fontColor; 
    font-size: $fontSizeBig; 
    font-family: $fontFamily;
    font-weight: 900; 
    text-transform: capitalize;
    font-style: bold;
    }
h2{
    color:$fontColor; 
    font-size: calc(1em + 3vw) ; 
    font-weight: 700;
    font-family: $fontFamily;
    font-weight: bold;
}
h3{
    color:$fontColor;
    font-size: ($fontSizeBig) - 1; 
    font-weight: 500;
    font-family: $fontFamily;
}
h4{
    color:$fontColor;
    font-size: ($standardp) - 2; 
    font-family: $fontFamily;
}
h5{
    color:$fontColor;
    font-size: ($standardp) - 4; 
    font-family: $fontFamily;
}

p{
    color: $fontColor;
    font-size: $standardp; 
    font-weight: 300;
    font-family: $fontFamily;
}

/*----------------efectos--------------*/

.animate__slideInUp{
    animation-delay: 1s;
    animation-duration: 2s;
}