/*---------------- Index --------------*/

nav{
    ul{
        li {
            a {
                font-family: $fontFamily;
                font-weight: bold;
                color: $blueColor;
            } 
        }
    }
    ul .dropdown-menu{
        background-color: $blueColor;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;  
    }
    ul li:hover .dropdown-menu{
        display: block;
        z-index: 1;
    }
    a:link , a:visited {
        color: $fontColor;
        padding: auto;
        text-align: left;
        text-decoration: none;
        display: block;
    }
    ul a:hover{
        color: $violetColor;
        background-color: $blueColor;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    a:active {
        color: $violetColor;
        background-color: $blueColor;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    ul .dropdown-item:hover, :active{ 
        color: $blueColor;
        background-color: $violetColor;
    }
}

.containerHero{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    padding-left: 1vw;
    margin-top: 10vh;
    justify-content: space-evenly;
}

.article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    color: grey;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-name: "aparecer";
    .article__exterior{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: fit-content;
        align-content: center;
        align-self: center;
        padding: 15px;
        margin-top: 10px;
    }
    .article__Interno{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-family: "poppins";
        font-size: medium;
        height: fit-content;
        align-items: center;
    }
}
@for $i from 1 through 3 {
    #highlight#{$i}{
        font-size: ($standardp) * 2 ;
        font-weight: bolder;
    }
}
.sectionC{
    display: flex;
    flex-flow: row wrap;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.153)) ;
    margin-top: 6rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    .bannerLeft{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/*---------------- Actividades --------------*/

.fotoGrid {
    grid-area: fotoGrid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 1em;
    margin-top: 1em;
    .foto--grid___img {
        width: 33%;
        max-height: 900px;
        min-width: 200px;
        object-fit: cover;
        position: relative;
        width: 50%;
        max-width: 300px;
    }
    .imageGrid{
        display: block;
        width: 100%;
        height: auto;
    }
    .overlay {
        position: absolute; 
        bottom: 0; 
        background: linear-gradient(180deg, rgba(24, 23, 23, 0) 15%, rgb(26, 25, 25) 85%); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-family: $fontFamily;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    .foto--grid___img:hover .overlay{
        opacity: 1;
    }
}
@each $stripe in $stripes{
    .#{stripe}-BgColor{
        background-color: $violetColor;
        color: whitesmoke;
        padding-left: 5px;
        
    }
}

#sectionActividades{
    padding-top: 1em; 
    padding-bottom: 1em;
    .ulActividades{
        list-style-type: none;
        padding-left: 5px;
    }
    .nav-link {
        color: $violetColor;
        font-family: $fontFamily;
        background-color: rgb(36, 35, 35);
        padding: 10px;
    }
    .active{
        background-color:$blueColor;
        color: $violetColor;
        font-family: $fontFamily;
        font-size: 18px;
        padding: 20px;
        border: none;
    }
}

/*----------------------- Contacto -------------------*/
@media (max-width: 375px) {
    iframe{
        width: 200px;
        height: auto;
    }
    .find-widget{
        margin-left: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
}
.find-widget{
    font-family: $fontFamily;
    font-size: 16px;
    color: white;
    padding-left: 3em;
    margin-top: 2em;
    justify-content: center;
}
.section-title{
    float: right;
    padding-top: 10px;

}
.contact-form{
    padding-top: 2em;
    align-items: right;
}

/*----------------------- Registro -------------------*/
/*--------- Card ----------*/

.card{
    background: #FFFFFF;
    box-shadow: 0px 2.88889px 8.66667px rgba(0, 0, 0, 0.25);
    border-radius: 7.22223px;  
    width: 23rem;
    height: fit-content;
    .card-title{
        color: $violetColor; 
        font-size: 30px;
        padding: 0.5em;
    }
    .text-center___text{
        color: grey;
        padding: 5px;
    }
    .textEnd{
        display: inline;
        color: grey;
        font-size: 14px;
    }
    
    .socialR{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        .btnLog{
            background-color: rgb(240, 239, 239);
            border: grey;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }
        .btnLog:hover{
            box-shadow: 1px 3.01656px 7.5414px rgba(46, 46, 46, 0.406);
        }
    }
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        color: grey;
        
    }
    .divider-text__span {
        padding: 7px;
        font-size: 12px;
        position: relative;  
        z-index: 2;
    }
    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 0;
    }
    .form-control-text{
        margin: 0px;
    }
    .fa-user{
        padding: auto;
    }
    .form-group{
        height:38px ;
    } 
    .input-group{
        height:38px ;
    }
}

/*----------------------- 404 -------------------*/