$violetColor: #7078F1;
$blueColor: #89C6FF;
$fontColor: whitesmoke;
$fontFamily: "Poppins",sans-serif;
$backGroundImage: url(../Images/Desktop3.png);
$bgImgNight: url(../Images/Desktop4.png);
$fontSizeBig: calc(1em + 5vw);
$standardp: 20px;
$switch: input ; 
$stripes: stripe1, stripe3;
$social: (
    tw: rgb(4, 204, 240) ,
    fb:  rgb(47, 0, 215) ,
    yt: red,
    ig: rgb(249, 8, 196),
); /*--ver en body&footer resto del mapa--*/

@import "fonts";
@import "buttons";
@import "paginas";
@import "body&footer";














